@import '@syncfusion/ej2-base/styles/bootstrap.css';
@import '@syncfusion/ej2-buttons/styles/bootstrap.css';
@import '@syncfusion/ej2-calendars/styles/bootstrap.css';
@import '@syncfusion/ej2-dropdowns/styles/bootstrap.css';
@import '@syncfusion/ej2-inputs/styles/bootstrap.css';
@import '@syncfusion/ej2-navigations/styles/bootstrap.css';
@import '@syncfusion/ej2-popups/styles/bootstrap.css';
@import '@syncfusion/ej2-splitbuttons/styles/bootstrap.css';
@import '@syncfusion/ej2-react-grids/styles/bootstrap.css';

@import '@syncfusion/ej2-react-treegrid/styles/bootstrap.css';
@import '@syncfusion/ej2-react-popups/styles/bootstrap.css';

@import 'primereact/resources/themes/bootstrap4-light-purple/theme.css';
@import 'primereact/resources/primereact.min.css';

/* react-sliding pane */
@import 'react-sliding-pane/dist/react-sliding-pane.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.e-icon-errordrop {
  display: none !important;
}

/* Syncfusion grid edit column background color */
.grid-col-edit {
  background: #d7f0f4;
  font-style: italic;
  color: navy;
}

/* Syncfusion tooltip background color */
.custom-tooltip {
  background-color: gray !important; /* Light blue color */
  color: #000; /* Text color */
}
