/* @import '../node_modules/@syncfusion/ej2-base/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/bootstrap.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/bootstrap.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap.css'; */
@import "../node_modules/@syncfusion/ej2-react-grids/styles/bootstrap.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

/* For sweet alert2 text font size */
/* h2#swal2-title
      {
         font-size: 18px;
         color: green;
      } */
  /* .full-width {
    @apply w-[100vw] h-10 ml-0
  } */

}

/* .e-grid .e-headercell {
  color: #ffffff;
  background-color: #1ea8bd;
  height: 10px;
} */

/* .e-grid.wrap .e-columnheader .e-headercelldiv { 
  margin-bottom: 2px; 
  margin-top: 0px; 
}  */