/* @import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css'; */
@import "../node_modules/@syncfusion/ej2-react-grids/styles/bootstrap.css";
@import "../node_modules/@syncfusion/ej2-react-treegrid/styles/bootstrap.css";
@import '@syncfusion/ej2-react-treegrid/styles/material.css';
@import '@syncfusion/ej2-base/styles/material.css';
@import '@syncfusion/ej2-buttons/styles/material.css';
@import '@syncfusion/ej2-inputs/styles/material.css';

@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

@import 'react-sliding-pane/dist/react-sliding-pane.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
        
@layer components {

}

.custom-css {
    background: #d7f0f4;
    font-style: italic;
    color:navy;
    width: auto;
  }